@model TicketMidia.Models.TB_TOT_CATEG_ING

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_TOT_CATEG_ING</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TCI_QTD_ESPECT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TCI_QTD_ESPECT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_TOT_TP_ASSENTO.TTA_TP_ASSENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_TOT_TP_ASSENTO.TTA_TP_ASSENTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TCI_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
