@model IEnumerable<TicketMidia.Models.TB_TOT_CATEG_ING>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TCI_QTD_ESPECT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TB_TOT_TP_ASSENTO.TTA_TP_ASSENTO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TCI_QTD_ESPECT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TB_TOT_TP_ASSENTO.TTA_TP_ASSENTO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TCI_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TCI_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TCI_ID })
        </td>
    </tr>
}

</table>
