@model TicketMidia.Models.TB_SESSAO_ANCINE

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TB_SESSAO_ANCINE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SEA_DT_HR_INICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEA_DT_HR_INICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEA_MODAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEA_MODAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEA_FIL_NM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEA_FIL_NM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEA_FIL_TP_TELA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEA_FIL_TP_TELA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEA_FIL_DIGITAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEA_FIL_DIGITAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEA_FIL_TP_PROJECAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEA_FIL_TP_PROJECAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEA_FIL_AUDIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEA_FIL_AUDIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEA_FIL_LEG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEA_FIL_LEG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEA_FIL_PRO_LIBRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEA_FIL_PRO_LIBRA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEA_FIL_LEG_DESC_CC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEA_FIL_LEG_DESC_CC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEA_FIL_AUDIO_DESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEA_FIL_AUDIO_DESC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEA_DIS_CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEA_DIS_CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEA_DIS_NM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEA_DIS_NM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEA_VRE_CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEA_VRE_CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEA_RZ_SOCIAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEA_RZ_SOCIAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_BILHETERIA.EMP_CD_ANCINE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_BILHETERIA.EMP_CD_ANCINE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_FILME.FIL_NM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_FILME.FIL_NM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_SALA.EMP_CD_ANCINE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_SALA.EMP_CD_ANCINE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
