@model TicketMidia.Models.TB_VENDEDOR_REMOTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_VENDEDOR_REMOTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VRE_RZ_SOCIAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VRE_RZ_SOCIAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_EMPRESA_COMPLEXO.EMP_RZ_SOCIAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_EMPRESA_COMPLEXO.EMP_RZ_SOCIAL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VRE_CNPJ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
