@model TicketMidia.Models.TB_FILME

@{
    ViewBag.Title = "Create";
}

<h2>Novo Filme</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <br />
        @Html.ValidationSummary(true ,"" ,new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Código Ancine</label>
            <label class="radio-inline">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" checked> ROE / CPB
                @Html.EditorFor(model => model.FIL_CD_ANCINE ,new { htmlAttributes = new { @class = "form-control input-sm" ,maxlength = "14" } })
            </label>
            <label class="radio-inline">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2"> Código Genérico
                <select name="FIL_COD_GEN" class="form-control input-sm" id="FIL_COD_GEN" style="text-align:center">
                    <option value="G4">Mostras e Festivais</option>
                    <option value="G2">Shows e Musicais</option>
                    <option value="G1">Eventos Esportivos</option>
                    <option value="G3">Jogos Eletrônicos</option>
                </select>
            </label>
        </div>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">Distribuidora</label>
            <div class="col-md-10">
                @Html.DropDownList("DIS_CNPJ" ,null ,htmlAttributes: new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nome do Filme</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FIL_NM ,new { htmlAttributes = new { @class = "form-control input-sm", maxlength = "50" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nacionalidade</label>
            <div class="col-md-4">
                <select name="FIL_ID_NACIO" class="form-control input-sm" id="FIL_ID_NACIO">
                    <option value="E">Estrangeiro</option>
                    <option value="N">Nacional</option>
                </select>
                @Html.ValidationMessageFor(model => model.FIL_ID_NACIO ,"" ,new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.FIL_DIGITAL ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.FIL_DIGITAL ,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FIL_DIGITAL ,"" ,new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.FIL_GENERO ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.FIL_GENERO ,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FIL_GENERO ,"" ,new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.FIL_CLASS_ETA ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.FIL_CLASS_ETA ,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FIL_CLASS_ETA ,"" ,new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.FIL_DIRETOR ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.FIL_DIRETOR ,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FIL_DIRETOR ,"" ,new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.FIL_SINOPSE ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.FIL_SINOPSE ,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FIL_SINOPSE ,"" ,new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.FIL_DT_INICIO ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.FIL_DT_INICIO ,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FIL_DT_INICIO ,"" ,new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.FIL_DT_FIM ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.FIL_DT_FIM ,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FIL_DT_FIM ,"" ,new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.FIL_ANO_LANC ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.FIL_ANO_LANC ,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FIL_ANO_LANC ,"" ,new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.FIL_PAIS ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.FIL_PAIS ,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FIL_PAIS ,"" ,new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.FIL_CD_AUX ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.FIL_CD_AUX ,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FIL_CD_AUX ,"" ,new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.FIL_DT_INC ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.FIL_DT_INC ,new { htmlAttributes = new { @Value = DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss") } })
                @Html.ValidationMessageFor(model => model.FIL_DT_INC ,"" ,new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.FIL_DT_ALT ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.FIL_DT_ALT ,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FIL_DT_ALT ,"" ,new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.FIL_DT_DES ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.FIL_DT_DES ,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FIL_DT_DES ,"" ,new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.FIL_MOT_DES ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.FIL_MOT_DES ,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FIL_MOT_DES ,"" ,new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="text-align:right">
                <a href="/TB_FILME" class="btn btn-default btn-md" role="button">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-success btn-md" id="btnSalvar" name="btnSalvar"/>
            </div>
        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {

            $('#btnSalvar').click(function ()
            {
                var element2 = document.getElementById('inlineRadio1');
                if (element2.checked == true) {
                    var element3 = document.getElementById('FIL_CD_ANCINE');
                    if (element3.value == "") {
                        alert("Informar o ROE ou CPB da Obra");
                        return false;
                    }
                }

                var element3 = document.getElementById('FIL_CD_ANCINE');
                if (element3.length < 14) {
                    alert("O ROE ou CPB da Obra deve possuir 14 caracteres.");
                    return false;
                }

                var element = document.getElementById('FIL_NM');
                if (element.value == "") {
                    alert("Informar o nome da Obra (Filme)");
                    return false;
                }
            })

            $('#btnTeste').click(function () 
            {
                var element4 = document.getElementById('FIL_CD_ANCINE');
                element4.alert.length;
            })
        });
    </script>

}
