@model PagedList.IPagedList<TicketMidia.Models.TB_DISTRIBUIDORA>
@using PagedList.Mvc;

<h3>Distribuidoras</h3>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th style="text-align:right">
                <a href="/TB_DISTRIBUIDORA/Create" class="btn btn-success btn-sm">Nova Distribuidora</a>
            </th>
        </tr>
    </table>

}

<table class="table small table-striped table-hover" width="500">
    <tr class="info">
        <th>
            CNPJ
        </th>
        <th>
            <u>@Html.ActionLink("Distribuidora" ,"Index" ,new { sortOrder = ViewBag.DistrSortParm })</u>
        </th>
        <th style="text-align:center">
            <u>@Html.ActionLink("Inclusão" ,"Index" ,new { sortOrder = ViewBag.InclusaoSortParm ,currentFilter = ViewBag.CurrentFilter })</u>
        </th>
        <th style="text-align:center">
            Alteração
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DIS_CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIS_NM)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.DIS_DT_INC)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.DIS_DT_ALT)
            </td>
            <td>
                <a href="/TB_DISTRIBUIDORA/Edit/@item.DIS_CNPJ" class="btn btn-info btn-xs">Editar</a>
                <a href="/TB_DISTRIBUIDORA/Delete/@item.DIS_CNPJ" class="btn btn-danger btn-xs">Excluir</a>
            </td>
        </tr>
    }

</table>

Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model ,page => Url.Action("Index" ,new { page ,sortOrder = ViewBag.CurrentSort ,currentFilter = ViewBag.CurrentFilter }))