@model IEnumerable<TicketMidia.Models.TB_EMPRESA_COMPLEXO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EMP_RZ_SOCIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_NM_FANT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_INSCRICAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_END)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_NUM_END)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_CMP_END)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_BRR_END)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_CID_END)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_TEL_DDD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_TEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_UF_END)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_CEP_END)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_CD_AUX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_DT_INC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_DT_ALT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_DT_DES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_MOT_DES)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_RZ_SOCIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_NM_FANT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_INSCRICAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_END)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_NUM_END)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_CMP_END)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_BRR_END)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_CID_END)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_TEL_DDD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_TEL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_UF_END)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_CEP_END)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_CD_AUX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_DT_INC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_DT_ALT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_DT_DES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_MOT_DES)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EMP_CD_ANCINE }) |
            @Html.ActionLink("Details", "Details", new { id=item.EMP_CD_ANCINE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EMP_CD_ANCINE })
        </td>
    </tr>
}

</table>
